<h1>Here are the planets and their current signs.</h1>
<br />

<h2>The current time is: <%= @current_time.inspect %> </h2>

<div class="row">
  <% @planets.each do |planet| %>
    <div class="planet-box col-10 col-sm-4">
      Planet name: <%= planet.name %> <br/>
      Description: <%= planet.description %> <br/>
      Current sign: <%= planet.current_sign %> <br/>
      Changes sign at: <%= planet.changes_sign_at %> <br/>
      SWE ID: <%= planet.swe_id %> <br/>
      <br />
    </div>
    <br />
    <br />
  <% end %>
</div>
<br />
