<h1>Here are the planets and their current signs.</h1>
<br />

<h2>The current time is: <%= @current_time.inspect %> </h2>

<div class="container">

    <div class="accordion">
      <div class="row">
      <% @planets.each do |planet| %>
        
        <div class="col-12 col-xs-6 col-sm-6 col-md-4 col-lg-3">
          <div class="card">
            <img class="card-img-top" src="http://via.placeholder.com/350x350" alt="Card image cap">
            <div class="card-header" id="heading<%= planet.name %>">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-<%= planet.name %>" aria-expanded="true" aria-controls="collapse-<%= planet.name %>" style="margin: auto;">
                  <%= planet.name %> is in <%= planet.current_sign %>
                </button>
              </h5>
            </div>

            <div id="collapse-<%= planet.name %>" class="collapse" aria-labelledby="heading<%= planet.name %>" data-parent="#accordion">
              <div class="card-body">
                This planet represents: <%= planet.description %>
              </div>
            </div>
          </div>
          <br />
          <br />

        </div>
        
      <% end %>
      </div>
    </div>

</div>
<br />
