<!DOCTYPE html>
<html>
  <head>
    <title>Haengsung</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <nav class="navbar sticky-top navbar-expand navbar-light bg-light">

      <%= link_to "Haengsung", root_path, class: "navbar-brand" %>
      
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          UTC time is: <%= Time.new.strftime("%l:%M %p on %B %e, %Y") %>
        </li>
      </ul>

    </nav>
    <%= yield %>
  </body>
</html>
