<!DOCTYPE html>
<html>
  <head>
    <title>Haengsung</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <nav class="navbar navbar-expand navbar-light bg-light">

      <%= link_to "Haengsung", root_path, class: "navbar-brand" %>
      
      <span class="navbar-text">
        At-a-glance planetary ephermerides.
      </span>

    </nav>
    <%= yield %>
  </body>
</html>
